{% extends "sharkdata_doc_base.html" %}

{% load static %}

{% block title %}SHARKdata - Example client code{% endblock%}

{% block header %}Example client code{% endblock%}

{% block doc-content %}

	<h3>Python and R example</h3>
	
	<p>
	The Python script below illustrates how SHARKdata can be accessed programatically. <br>
	Download the code here: <a href={% static "samplecode/get_dataset_from_sharkdata.py" %}>get_dataset_from_sharkdata.py</a><br>
        An <a href="#rcode">R code example</a> is also available.
	</p>
           
	
	<pre>
#!/usr/bin/env python
# -*- coding:utf-8 -*-

import json
import urllib2
import codecs

def execute():
    """ 
    Example code to get datasets from SHARKdata. Developed in Python 2.7. 
    For Windows users we recommend Python(x,y) to install Python: http://code.google.com/p/pythonxy/
    
    This Python script can be executed directly in a terminal window:
    $ python get_dataset_from_sharkdata.py
    
    The following output is expected:
    1. A list of all avaliable datasets. Printed in the terminal window.
    2. The content of the first available dataset. Printed in the terminal window.
    3. The content of the first available datasets saved as a file in the same directory as the Python script. 
       Character encoding in the file will be UTF-8. Change the row "character_encoding = u'utf8'" for other
       encodings.
       
    For more options, read the documentation at http://test.sharkdata.se/documentation/
    """
    
    # URL to the datasets part of SHARKdata.
    sharkdata_url = u'http://sharkdata.se/datasets/'

    # Download a list of all available datasets. The JSON format is used.
    datasets = json.load(urllib2.urlopen(sharkdata_url + u'list.json'))
    
    # Exit if no datasets are found. 
    if len(datasets) < 1:
        print(u'No datasets found. Script terminated.')
        return

    # Print some info for all available datasets.
    print(u'\nAvailable datasets on SHARKdata:' + u'\n')
    for dataset in datasets:
        print(u' Datatype: ' + dataset[u'datatype'] + u' Name: ' + dataset[u'dataset_name'])
    
    # Get the name of the first dataset in the list.
    dataset_name = datasets[0][u'dataset_name']
    
    # Download header and data and print the content. The text format is used.
    print(u'\nPrint dataset content for: ' + dataset_name + u'\n')
    header_and_data = urllib2.urlopen(sharkdata_url + dataset_name + u'/data.txt')
    
    for row in header_and_data:
        # The text format character encoding is cp1252 (equal to windows-1252).
        row = row.decode(u'cp1252')
        print(row.strip())

    # Download header and data and save to file.
    dataset_name = datasets[0][u'dataset_name']
    filename = datasets[0][u'dataset_file_name'].replace(u'.zip', u'.txt')
    character_encoding = u'utf8' # Some alternatives: cp1252, utf-8, utf-16, ascii, latin1, macroman.
    row_delimiter = u'\r\n'
    print(u'\nDataset content for: ' + dataset_name + u' to file: ' + filename + u'\n')
    out_file = None
    try:
        out_file = codecs.open(filename, mode = 'w', encoding = character_encoding)
        header_and_data = urllib2.urlopen(sharkdata_url + dataset_name + u'/data.txt')
        for row in header_and_data:
            row = row.decode(u'cp1252')
            out_file.write(row.strip() + row_delimiter)
    finally:
        if out_file: out_file.close()


if __name__ == "__main__":
    execute()
	</pre>

 <p>
 R example
 </p>
 <a name="rcode"></a> 
 <pre>
 
# Load required libraries
require(tidyverse)
require(leaflet)

# Obtain list of all datasets
datasets = read_delim("http://sharkdata.se/datasets/table.txt", delim = "\t")
View(datasets) # View the table in RStudio
colnames(datasets) # shows the contents of the header
# datasets$`Dataset name` # this list contains names of datasets
paste("Number of datasets:",length(datasets$`Dataset name`), sep=" ")

# We take a look at one individual dataset
setname<-datasets$`Dataset name`[1] # select dataset by row index, in this case the first
data_sample<-read_delim(paste("http://sharkdata.se/datasets/",setname,"/data.txt",sep=""), delim ="\t", guess_max = 2000, col_names = T, locale = readr::locale(encoding = "latin1")) # Note the use of latin1 to accurately read Å, Ä and Ö letters from the Swedish alphabet.

# Check data
View(data_sample)
str(data_sample)
dim(data_sample)

# Now we create a slice of data to look at
parameter_list = unique(data_sample$parameter) # create a list of these
data_slice = data_sample[which(data_sample$parameter == parameter_list[1]),]  # pick the first param. in list and read out all corresponding rows

# Check data
View(data_slice)
str(data_slice)
dim(data_slice)

# make sure the parameter have the same unit
unit_list = unique(data_sample$unit) # column listing availible units
data_slice = data_slice[which(data_slice$unit == unit_list[1]),] # pick first one from unit list
data_values<-data_slice$value # read values from data_slice

# Check data values
mean(data_values)
quantile(data_values)

# .. and e.g. plot them as a histogram and boxplot
ggplot(data_slice,aes(y = , x = value)) +
  geom_histogram(fill = "black") +
  xlab(unit_list[1]) +
  theme_bw()

ggplot(data_slice, aes(y = value, x =)) +
  geom_boxplot(fill = "black")+
  xlab(unit_list[1]) +
  theme_bw()

# plot data
```{r plotdata}
ggplot(data_slice,aes(x = sample_date, y = value, colour = station_name)) +
  geom_point() +
  ylab(unit_list[1]) +
  xlab("Date") +
  theme_bw()

# plot interactive leaflet map
# Create a color palette with handmade bins. Below is specially made for Bacterial abundance with values of billion cells/L
max(data_slice$value/1000000000)
mybins <- seq(0, 5, by=0.5)
mypalette <- colorBin(palette="YlOrBr", domain=data_slice$value/1000000000, na.color="transparent", bins=mybins)

# Prepare the text for the tooltip:
mytext <- paste(
   "Sample Min Depth: ", data_slice$sample_min_depth_m, "<br/>",
   "Sample Max Depth: ", data_slice$sample_max_depth_m, "<br/>",
   "Stations: ", data_slice$station_name, "<br/>", 
   "Abundance: ", data_slice$value/1000000000, sep="") %>%
  lapply(htmltools::HTML)

# Final Map
m <- leaflet(data_slice) %>% 
  addTiles()  %>% 
  setView( lat=60, lng=15, zoom=4) %>%
  addProviderTiles("Esri.WorldImagery") %>%
  addCircleMarkers(~sample_longitude_dd, ~sample_latitude_dd, 
    fillColor = ~mypalette(data_slice$value/1000000000), fillOpacity = 0.7, color="white", radius=sqrt((data_slice$value/10000000)/pi )
, stroke=FALSE,
    label = mytext,
    labelOptions = labelOptions( style = list("font-weight" = "normal", padding = "3px 8px"), textsize = "13px", direction = "auto")
  ) %>%
  addLegend(pal=mypalette, values=~data_slice$value/1000000000, opacity=0.9, title = "Bacterial Abundance (cells/L x 10^6", position = "bottomright" )

m 

# save the widget in a html file if needed.
# library(htmlwidgets)
# saveWidget(m, file=paste0( getwd(), "/HtmlWidget/bubblemapSHARKdata_dataset.html"))

## Below R code for obtaining species data from species lists is under development

# list all taxa
taxa = read_delim("http://sharkdata.se/speciesobs/table.txt/", delim = "\t")
taxa_list = unique(taxa$scientificName)
paste("Number of taxa:",length(taxa_list), sep = "")

# We take a look at one individual species for one year
SPECIES = "Pseudo-nitzschia delicatissima" # Select Pseudo-nitzschia delicatissima
YEAR = 2019

taxa = read_delim(paste("http://sharkdata.se/speciesobs/table.txt/?species=", SPECIES, sep=""), delim = "\t") %>% 
  select(DataType, year, month, day, scientificName, decimalLatitude, decimalLongitude, DatasetName) %>% 
  group_by(scientificName) %>% 
  filter(year == YEAR)

# plot interactive leaflet map

m <- leaflet(taxa) %>% 
  addTiles()  %>% 
  setView(lat=60, lng=15, zoom=4) %>%
  addProviderTiles("Esri.WorldImagery") %>%
  addCircleMarkers(~decimalLongitude, ~decimalLatitude, stroke=FALSE) %>%
  
m 

# save the widget in a html file if needed.
# library(htmlwidgets)
# saveWidget(m, file=paste0( getwd(), "/HtmlWidget/bubblemapSHARKdata_species.html"))

 </pre>
	

{% endblock doc-content%}
