{% extends "sharkdata_form_base.html" %}

{% block title %}SHARKdata - Delete resource{% endblock %}

{% block header %}Delete resource{% endblock %}

{% block content %}
 
         <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Delete resource</h2>
            </div>
            <div class="panel-body">
                <p>Are you sure you want to delete {{ resource.resource_name }} from the database?</p>
                <form class="sharkdata-form" enctype="multipart/form-data" method="post" action="{{ resource.id }}">
                	{% csrf_token %}
                    {{ form.as_p }}
                    <p class="sharkdata-form-actions">
                        <button class="btn btn-primary" type="submit">Yes</button>
                        <a class="btn btn-default" href="/resources">Cancel</a>
                    </p>
                </form>
            </div>
        </div>

{% endblock %}
